	/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
.ranking {
  background-color: #eeeeff;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 100%;
  min-height: 400px;
  min-width: 400px;
  margin: 0.5%;
  padding: 1%;
  
}

.ranking h2 {
  font-family: "Times New Roman";
  font-weight: normal;
  font-style: italic;
  font-size: xx-large;
  text-align: center;
}

.ranking table {
  width: 100%;
}

input[type=number], input[type=text], select {
  width: 400px;
}

input[type=submit], button {
  width: 200px;
}

code {
  display: block;
  margin: 4em;
  font-style: italic;
}

th, td {
  text-align: left;
  vertical-align: top;
  padding: 0 1em 0 0;
}
table {
  counter-reset: tr;
  
}

table#solved_problems {
  font-family: monospace;
}
table.board tbody tr::before {
  counter-increment: tr;
  content: counter(tr) ". ";
  display: table-cell;
}

